@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F3F8;
}

.btn_1 {
    color: white;
    background-color: #3d4465;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 600;
}

.btn_1:hover {
    text-decoration: none;
    color: white;
}

.card {
    width: 50rem;
}

/* NAVBAR */
.nav {
    width: 100%;
    position: relative;
    background-color: #242939;
    color: white;
    padding: 20px 0;
    font-weight: 600;
}

.logo {
    width: 120px;
    float: left;
}

.menuBtn {
    float: right;
    cursor: pointer;
}

.menuClose {
    display: none;
    cursor: pointer;
}

/* FIM NAV */

/* SIDEBAR */
.sidebar {
    width: 70%;
    height: 100vh;
    background-color: white;
    color: #3d4465;
    font-weight: 600;
    top: 0;
    z-index: 9;
}

.pic {
    width: 100px;
    border-radius: 50%;
}

.name {
    font-size: 0.9em; 
}

.userType {
    font-size: 1em;
    margin-top: -8px;
}

.navigation li {
    list-style: none;
    margin: 30px 0; 
}

.navigation a {
    color: #3d4465;
    text-decoration: none;
}

.navigation a:hover {
    border-bottom: 1px solid #3d4465; 
}

/* FIM SIDEBAR */

/* CONTENT */
.content {
    margin-left: 150px;
}

/* BREAKPOINTS */
/* SIDEBAR */
@media screen and (min-width: 1280px) {
    .sidebar {
        width: 17%;
        position: fixed;
    }
    .nav {
        display: none;
    }
}

/* SMALL DEVICES */
@media screen and (max-width: 760px){
    .sidebar {
        display: none;
        position: fixed;
        overflow: auto;
    }
    .content {
        margin-left: 0;
    }

    .card {
        width: 20rem;
    }
}